<div class="card" (click)="toggle()">
    <div class="card-body">
      <span class="badge bg-dark mb-2">{{ card.tag }}</span>
      <h5 class="card-title fs-6">{{ card.question }}</h5>
      <p class="card-text" *ngIf="expanded"><strong>Réponse:</strong> {{ card.answer }}</p>
      <p class="card-text" *ngIf="expanded"><small class="text-muted">{{ card.description }}</small></p>
      
      <!-- Ensemble de boutons d'action -->
      <div class="d-flex align-items-center mt-2">
        <button type="button" class="btn btn-sm me-2" (click)="onLeftArrow(); $event.stopPropagation()">
          <span class="triangle-left"></span>
        </button>
        <button type="button" class="btn btn-primary btn-sm me-2" (click)="onEdit(); $event.stopPropagation()">Modifier</button>
        <button type="button" class="btn btn-danger btn-sm me-2" (click)="onDelete(); $event.stopPropagation()">X</button>
        <button type="button" class="btn btn-sm" (click)="onRightArrow(); $event.stopPropagation()">
          <span class="triangle-right"></span>
        </button>
      </div>
    </div>
</div>
