<div class="container position-relative">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Toutes les cartes mémoire</h2>
    <button type="button" class="btn btn-primary" (click)="openAddModal()">
      Ajouter une carte mémoire
    </button>
  </div>

    <!-- Liste des tags -->
    <div class="mb-4">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedTag === 'Tous les tags'}" (click)="filterByTag('Tous les tags')">Tous les tags</a>
        </li>
        <li class="nav-item" *ngFor="let tag of tags">
          <a class="nav-link" [ngClass]="{'active': selectedTag === tag}" (click)="filterByTag(tag)">{{ tag }}</a>
        </li>
      </ul>
    </div>

  <!-- Liste des colonnes et des cartes -->
  <div class="row">
    <div class="col" *ngFor="let column of columns">
      <h5 class="text-muted">{{ column.label }}</h5>
      <div class="mb-2" *ngIf="getCardsByColumn(column.label).length === 0">
        <p>Aucune carte à afficher dans cette colonne.</p>
      </div>
      <div class="mb-2" *ngFor="let card of getCardsByColumn(column.label)">
        <app-card 
          [card]="card"
          (edit)="openEditModal($event)"
          (delete)="openDeleteModal($event)"
          (leftArrow)="moveCardLeft($event)" 
          (rightArrow)="moveCardRight($event)">
        </app-card>
      </div>
    </div>
  </div>
</div>

<!-- Message d'alerte -->
<div *ngIf="alertMessage" class="alert-container">
  <div class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="alertMessage = null"></button>
  </div>
</div>


<!-- Modale du formulaire d'ajout -->
<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCardModalLabel">{{ isEditMode ? 'Modifier' : 'Ajouter' }} une carte mémoire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newCardForm" (ngSubmit)="isEditMode ? updateCard() : addCard()">
          <!-- Champ question -->
          <div class="mb-3">
            <label for="question" class="form-label">Question:</label>
            <input id="question" formControlName="question" class="form-control">
            <div *ngIf="newCardForm.get('question')?.invalid && newCardForm.get('question')?.touched" class="invalid-feedback d-block">
              La question est requise.
            </div>
          </div>
        
          <!-- Champ réponse -->
          <div class="mb-3">
            <label for="answer" class="form-label">Réponse:</label>
            <input id="answer" formControlName="answer" class="form-control">
            <div *ngIf="newCardForm.get('answer')?.invalid && newCardForm.get('answer')?.touched" class="invalid-feedback d-block">
              La réponse est requise.
            </div>
          </div>
        
          <!-- Champ description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input id="description" formControlName="description" class="form-control">
          </div>
        
          <!-- Champ de sélection du tag -->
          <div class="form-group">
            <label for="tag">Tag:</label>
            <select formControlName="tag" id="tag" class="form-select" [disabled]="!!newCardForm.value.newTag">
              <option value="" disabled>Sélectionnez un tag</option>
              <option *ngFor="let tag of tags" [value]="tag">{{ tag }}</option>
            </select>
            <div *ngIf="newCardForm.get('tag')?.hasError('required') && newCardForm.get('tag')?.touched" class="invalid-feedback d-block">
              Le tag est requis si aucun nouveau tag n'est saisi.
            </div>
          </div>
        
          <!-- Champ pour un nouveau tag -->
          <div class="form-group">
            <label for="newTag">Créer un nouveau tag:</label>
            <input type="text" id="newTag" formControlName="newTag" class="form-control">
          </div>
        
          <!-- Modification de la colonne uniquement en mode édition -->
          <div *ngIf="isEditMode" class="mb-3">
            <label for="column" class="form-label">Colonne:</label>
            <select id="column" formControlName="column" class="form-select">
              <option *ngFor="let col of columns" [value]="col.label">{{ col.label }}</option>
            </select>
          </div>
        
          <button type="submit" class="btn btn-primary" [disabled]="newCardForm.invalid">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        </form>        
      </div>
    </div>
  </div>
</div>

<!-- Modale de confirmation de suppression -->
<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="deleteCardModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCardModalLabel">Confirmer la suppression</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cette carte mémoire ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteCard()">Supprimer</button>
      </div>
    </div>
  </div>
</div>


