<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" href="#">Memopus</a>
  <ul class="navbar-nav mr-auto">
    <!-- Afficher "Connexion" si l'utilisateur n'est pas connecté -->
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Connexion</a>
    </li>
    <!-- Afficher "Accueil" et "Déconnexion" si l'utilisateur est connecté -->
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="/home">Accueil</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="btn btn-secondary text-white" (click)="logout()">Déconnexion</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
